a{
  color: red;
}
a:hover {
    color: green;
}
a:visited{
    color: blue;
}
a:focus{
    border: 12px solid red;
}
li:first-child{
    font-weight: bold;
}
li:last-child{
    color: lightblue;
}
li:nth-child(odd){
    background-color: yellow;
}
li:nth-child(even){
    background-color: lightblue;
}
