
a{
  color: red;
}
a:hover {
    color: green;
}
a:visited{
    color: blue;
}
a:focus{
    border: 5px solid red;
}
li:first-child{
    font-weight: bold;
}
li:last-child{
    color: lightblue;
}
li:nth-child(odd){
    background-color: yellow;
}
li:nth-child(even){
    background-color: lightblue;
}
input:required{
    border: 5px solid green;
}
textarea:required{
    border: 5px solid green;
}
input[type="email"]:valid{
    border-color:lightgreen;
}
input[required]:focus{
  color: blue;
}
input[type="email"]:invalid{
    border-color:red;
}
label:has(input[type="checkbox"]:checked){
    color:red;
}
li+:not(first-child){
    color:red;
}
h1:is(h1, h2, h3){
    color:red;
}
